<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="ai.nami.demo.sdk.positioning.standard.PositioningStandardActivity" />
        <activity android:name="ai.nami.demo.sdk.positioning.customize.PositioningCustomizeActivity" />
        <activity
            android:name="ai.nami.demo.sdk.pairing.cusomizeTheme.CustomThemeActivity"
            android:exported="false"
            />
        <activity
            android:name="ai.nami.demo.sdk.pairing.standard.StandardUIActivity"
            android:exported="false"
            />
        <activity android:name="ai.nami.demo.sdk.DemoUIMainActivity"/>
        <activity android:name="ai.nami.demo.sdk.pairing.customizeUI.CustomizeUIActivity"/>
    </application>
</manifest>