<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.NamiSDKSample"
        tools:targetApi="31">
        <activity android:name=".positioning.standard.PositioningStandardActivity" />
        <activity android:name=".positioning.customize.PositioningCustomizeActivity" />
        <activity
            android:name=".pairing.cusomize.CustomizeUIActivity"
            android:exported="false"
            android:theme="@style/Theme.NamiSDKSample" />
        <activity
            android:name=".pairing.standard.StandardUIActivity"
            android:exported="false"
            android:theme="@style/Theme.NamiSDKSample" />
        <activity
            android:name="ai.nami.sdk.sample.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.NamiSDKSample">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>