<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
<application>
    <activity
        android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
        android:name="ai.nami.demo_sdk_ui_extension.DemoUIExtensionActivity"
        android:theme="@style/Theme.RemoteTemplateUI"
        android:windowSoftInputMode="adjustResize" />
</application>
</manifest>